html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  background-color: #000; /* Optional: in case the image doesn't cover the whole screen */
}

.container {
  width: 100%;
  height: 100%;
  position: relative; /* Set the positioning context */
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire area without losing aspect ratio */
}

/* Ensuring the mobile experience is smooth, especially on devices with a notch */
@media (max-width: 800px) {
  body,
  html {
    max-height: 100vh;
    max-width: 100vw;
  }
}
